################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorForTelerikUi/v16/Server/sqlite3
