@page "/combobox"
@using BlazorForTelerikUi.Shared
<h3>Telerik Combobox</h3>


<div>
    <TelerikComboBox Data="@Data" @bind-Value="@SelectedValue" Placeholder="Selectionnez un sport" Filterable="true">
    </TelerikComboBox>
</div>
<br/>
Sport sélectionné : @SelectedValue


@code
{

    public string[] Data { get; } = new[]
    {
        "Football", "Basketball", "Handball","Baseball","Laamb"
    };

    public string SelectedValue { get; set; } = "Laamb";

}
